outputDir = 'results/'
params.fasta = "s3://ngi-igenomes/igenomes/Homo_sapiens/UCSC/hg18/Sequence/WholeGenomeFasta/genome.fa"
// http://homer.ucsd.edu/homer/ngs/groseq/groseq.html
// This will eat up a ton of memory, which can be scaled by adjusting the first
// argument which sets the number of sequences that are analyzed in parallel.
// The program takes a while on mammalian genomes (~day). The second argument is
// the length of the reads you want to consider unique:
// `getMappableRegions 1000000000 50 *.fa > out.50nt.txt`
params.parallel_sequences_analyzed = 1000000000
params.read_length = 50

process {
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'
}

profiles {
    utd_ganymede {
        includeConfig "https://raw.githubusercontent.com/nf-core/configs/master/conf/utd_ganymede.config"
        wave.enabled  = false
        wave.strategy = ["conda", "container"]
    }
}
