params.fasta = "s3://ngi-igenomes/igenomes/Homo_sapiens/UCSC/hg18/Sequence/WholeGenomeFasta/genome.fa"
params.outdir = "results/"

process {
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'
    publishDir    = [
        path: { "${params.outdir}/${workflow.sessionId}/${meta.species}/${meta.source}/${meta.id}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}

profiles {
    utd_ganymede {
        includeConfig "https://raw.githubusercontent.com/nf-core/configs/master/conf/utd_ganymede.config"
        wave.enabled  = true
        wave.strategy = ["conda", "container"]
    }
}
